@{
    ViewData["Title"] = "Eşleştirme Oyunu";
}

<div class="button-menu">
    <button class="btn start" onclick="location.href='/OyunBasladi'">Başla</button>
    <br>
    <button class="btn">Oyun Hakkında</button>
</div>



