<audio id="successAudio">
    <source src="~/Sounds/success.mp3" type="audio/mpeg">
</audio>
<audio id="wrongAudio">
    <source src="~/Sounds/wrong.mp3" type="audio/mpeg">
</audio>

<div class="time-box"></div>
<div class="cards">
    
</div>

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/script.js"></script>
}
